.AuthPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2vmin;
    font-family: 'Quicksand', sans-serif;
  }
  
.AuthPage div {
  outline-offset: 2vmin;
  border-radius: 5%;
}

  .AuthPage h3 {
    align-items: center;
    text-align: center;
    padding: 2vmin;
    margin: 5vmin;
  }
  