.NewChorePage > h1 {
    font-size: 5vmin !important;
}

.NewChoreForm > form {
    display: flex;
    flex-direction: column;
    width: 50vmin;
    align-items: center;
    font-size: 3vmin;
    border: 1;
    border: 5px solid blue;
    outline: 5px solid red;
    outline-offset: 2vmin;
    border-radius: 5%;
    padding: 5vmin;
    margin: 5vmin;
    font-family: 'Quicksand', sans-serif;
}

.NewChoreForm {
    display: flex;
    justify-content: center;
}

.NewChoreForm > form > * {
    margin: 2vmin;
}

.NewChoreForm > form > label > input {
    width: 30vmin;
}

.NewChoreForm > form > label > select{
    font-size: 2vmin;
    text-align: center;
}

.NewChoreForm > form > button {
    width: 15vmin;
}