li {
    list-style-type: none;
    position: absolute;
    width: 50px;
}

.ChoreListItem {
    display: flex;
    margin: 0;
}

#completedButton {
    margin-left: 50px;
    color: blue;
}

.HoverText:hover {
    display: block;
}