@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');

.ChoreListPage {
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    justify-content: center;
    margin: auto;
} 

div {
    margin: 5px;
    box-sizing: border-box;
    padding: 5px;
}

.user-stats, .completed-chores {
    border: 3px solid blue;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    align-items: center;
}

.user-stats, .chores-todo {
    justify-content: space-between;
}

.user-stats > h1, .completed-chores > h1 {
    color: red;
    text-decoration: underline blue;
}

.chores-todo {
    border: 3px solid red;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.chores-todo > h1 {
    color: blue;
    text-decoration: underline red;
}

h1, h3 {
    font-family: 'BioRhyme', serif;
    margin: 0;
}

ul {
    padding: 0;
}

.user-stats > h3 > span {
    color: red;
}

.chores-todo > .add-chore > button {
    width: 40vmin;
}

.user-stats > button {
    width: 20vmin;
}