@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppLink {
  text-decoration: none;
  font-weight: bolder;
  font-size: 600%;
  font-family: 'BioRhyme', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.AppLinkText {
  display: flex;
  margin: 0;
}

.m {
  margin-right: 60px !important;
}

.AppLinkText > li {
  list-style: none;
  color: blue;
  position: relative;
  z-index: 1;
  margin-right: 30px;
  box-sizing:content-box;
}


.AppLinkText > li:nth-child(2n + 1) {
  z-index: 3;
}

.line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 5vw;
  height: 20px;
  background: red;
  border-radius: 20px;
  animation: stretch 3s linear infinite;
  z-index: 2;
}

@keyframes stretch {
  to {
    width: 100vw;
  }
}